.admin input[type='submit'] {
    padding: 4px 12px;
    border-radius: 12px;
    margin-top: 8px;
    margin-bottom: 4px;
    background-color: red;
    border: none;
    color: white;
}

.admin input[type='submit']:hover {
    opacity: 0.7;
}

.name__details {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.name__input {
    display: flex;
    flex-direction: column;
}

.name__input input[type='text'] {
    padding: 4px 12px;
    border-radius: 12px;
    margin-bottom: 8px;
}

.account__section {
    margin-top: 12px;
}

.account__details {
    display:  flex;
    flex-direction: column;
}

.account__input {
    display: flex;
    flex-direction: column;
}

.account__input input[type='text'] {
    padding: 4px 12px;
    border-radius: 12px;
    margin-top: 8px;
    margin-bottom: 4px;
    max-width: 100%;
    width: 400px;
}

.account__input input[type='password'] {
    padding: 4px 12px;
    border-radius: 12px;
    margin-top: 8px;
    margin-bottom: 4px;
    max-width: 100%;
    width: 400px;
}

.password  {
    position: relative;
    max-width: 100%;
    width: 400px;
}

.password button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    background-color: transparent;
    padding-right: 12px;
    padding-top: 6px;
}

