@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Menu */



#menu__container {
    display: flex;
}

/* page */

.pages__container {
    width: 100%;
}

.pages__wrapper {
    display: flex;
    flex-direction: column;
}

.page__container {
    width: 100%;
    max-width: 1000px;
    margin: 24px auto 0 auto;
    margin-top: 24px;
}

.page__row {
    margin: 0 24px;
}

/* side-menu */

.side-menu__container {
    width: 100%;
    max-width: 240px;
    background-color: #C21010;
    display: flex;
    flex-direction: column;
}

.side-menu__wrapper {
    margin: 0 20px;
}

/* Profile */

.profile__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0 24px 0;
}

.profile {
    height: 100px;
    width: 100px;
    margin-bottom: 12px;
}

.profile__img {
    width: 100%;
}

.profile__title {
    font-size: 42px;
    font-weight: 700;
    color: #FFFDE3;
}

/* side-menu */

.side-menu__links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-menu__link {
    color: white;
    font-size: 32px;
    text-decoration: none;
    margin-bottom: 16px;
    width: 100%;
    display: inline-block;
    padding: 8px;
    transition: all 450ms ease;
}

.side-menu__link:hover {
    transform: scale(1.1);
    background-color: #FFFDE3;
    border-radius: 5px;
    color: #000000;
}

/* Header */

.header__container {
    background-color: #FFFDE3;
    width: 100%;
    border-bottom: 2px solid #000000;
}

.header__wrapper {
    margin: 12px 0;
}

.header__title {
    color: #000000;
    padding: 0 16px;
    width: 100%;
}